---
dummy:
fetch_directory: ~/ceph-ansible-keys
ceph_origin: distro
ceph_repository: rhcs
use_new_ceph_iscsi: true
generate_fsid: true
cephx: true
[% set second_nic = ansible_interfaces | difference(["lo",ansible_default_ipv4.alias]) | sort | first %]
[% set third_nic = ansible_interfaces | difference(["lo",ansible_default_ipv4.alias,second_nic]) | first %]
monitor_interface: [[ second_nic ]]
ip_version: ipv4
[% set second_nic_netmask = hostvars[inventory_hostname]['ansible_' + second_nic]['ipv4']['network'] + '/' + hostvars[inventory_hostname]['ansible_' + second_nic]['ipv4']['netmask'] %]

[% set third_nic_netmask = hostvars[inventory_hostname]['ansible_' + third_nic]['ipv4']['network'] + '/' + hostvars[inventory_hostname]['ansible_' + third_nic]['ipv4']['netmask'] %]
journal_size: 5120 
public_network: [[ second_nic_netmask | ipaddr('net') ]]
cluster_network: [[ third_nic_netmask | ipaddr('net') ]]
osd_objectstore: [[ 'bluestore' if osd_type is defined and osd_type == 'bluestore' else 'filestore' ]]
radosgw_interface: [[ second_nic ]]
ceph_conf_overrides:
  mon:
    mon_health_preluminous_compat: true
  global:
    osd_pool_default_pg_num: 64
    osd_pool_default_pgp_num: 64
[% if groups['osds']|length <= 2 %]
    osd_pool_default_size: 2
    osd_pool_default_min_size: 1
[% endif %]

[% if install_type == 'csd' %]
fetch_directory: ~/ceph-ansible-keys
ceph_docker_image: rhceph/rhceph-4-rhel8
ceph_docker_image_tag: "latest"
containerized_deployment: true
ceph_origin: repository
ceph_repository: rhcs
ceph_repository_type: cdn
ceph_rhcs_version: 4
monitor_interface: eth1 
ceph_docker_registry: registry.redhat.io
ceph_docker_registry_auth: true
ceph_docker_registry_username: [[ rh_username ]]
ceph_docker_registry_password: [[ rh_password ]]
node_exporter_container_image: registry.redhat.io/openshift4/ose-prometheus-node-exporter:v4.1
grafana_container_image: registry.redhat.io/rhceph/rhceph-4-dashboard-rhel8
prometheus_container_image: registry.redhat.io/openshift4/ose-prometheus:4.1
alertmanager_container_image: registry.redhat.io/openshift4/ose-prometheus-alertmanager:4.1
[% endif %]
